#wrapper{
    width: 85%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid;
}
.content{
    margin:auto;
}
label{
    width: 30%;
    min-width: 120px;
    display: inline-block;
}

div{
    margin:auto;
}